    <%= stylesheet_link_tag 'promo', media: 'all', 'data-turbolinks-track': 'reload' %>

    <!DOCTYPE html>
    <html>
      <head>
        <title>Kinotusovka</title>
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>

        <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

        <% if notice %>
          <%= notice %>
        <% end %>
      </head>


      <body>

        <header>
          <div class="logo"><%= image_tag("logo.svg") %></div>
          <div class="header_actions">
            <%= link_to "о  поекте", about_path %>
            <div class="btn_primary">создать&nbsp;мероприятие</div>
            <div class="">войти</div>
            <div class="serarator_wrapper">
               <div class="separator"></div>
            </div>
            <div class="">зарегаться</div>
          </div>
        </header>

         <div class="sections_wrapper">

           <section class="first_screen_promo">
             <div class="first_section_headings">
               <%= image_tag("rays.svg") %>
               <h1>СТАНЬ ЧАСТЬЮ КИНО-СООБЩЕСТВА</h1>
               <%= image_tag("rays.svg") %>
            <button class="btn_primary" type="button" name="button">узнать про киночество</button>
           </section>

           <section class="do_not_miss_party">
             <h2>НЕ ПРОПУСТИ ИНТЕРЕСНУЮ ТУСОВКУ</h2>
                  <p class="do_not_miss_party_p">ищите интересные киножанры,    присоединяйтесь к тусовкам и становитесь частью нового комьюнити!</p>
            <!-- <div class="subscribe_input">
                <span class="subscribe_lable">Подпишись, чтобы не пропустить релиз проекта</span>
                <%= render "subscribers/form" %>
                <%= yield %>
              </div> -->
              <div class="do_not_miss_party_images">
                <%= image_tag("events.png") %>
                <%= image_tag("events.png") %>
                <%= image_tag("events.png") %>
                <%= image_tag("events.png") %>
              </div>
           </section>

           <section class="create_event">
            <h2>СОЗДАЙ СВОЁ МЕРОПРИЯТИЕ</h2>
              <p class="">если вы — большая команда, или даже волк-одиночка, вы всегда можете стать демиургом в мире кино сходок!</p>
              <button type="button" name="button">
                     СОЗДАТЬ МЕРОПРИЯТИЕ
                    <%= image_tag("arrow_btn.svg") %>
              </button>
           </section>

           <section class="get_emotions">
                 <h2>ПОЛУЧИ ЭМОЦИИ В ПОДАРОК</h2>
                 <p>ЗАРЕГИСТРИРУЙСЯ СЕГОДНЯ, И ПОЛУЧИ В ПОДАРОК ЭКСКЛЮЗИВный мерч для киноведов и организаторов киночества!</p>
                 <%= image_tag("merch.png") %>
                 <p class="merch_description">лимитированное издание для начинающих киноведов от опытных киноведов</p>
           </section>

             <h2>ПОЛУЧИ ЭМОЦИИ В ПОДАРОК</h2>
             <p>ЗАРЕГИСТРИРУЙСЯ СЕГОДНЯ, И ПОЛУЧИ В ПОДАРОК ЭКСКЛЮЗИВный мерч для киноведов и организаторов киночества!</p>
             <%= image_tag("merch.png") %>

           <section>
              <h2>ПОГРУЗИСЬ В МИР КИНО</h2>
              <p>Мы коллабимся с такими челами, как: опиа, циферблат, кинофонд, мосфильм, мир кино, иное кино, искусство кино и многими другими!
              </p>
           </section>

         <footer>
           <div class="contact_us">
             <span>По любым вопросам</span>
             <div class="social">
               <%= image_tag("vk.svg") %>
               <%= image_tag("inst.svg") %>
               <%= image_tag("fb.svg") %>
               <%= image_tag("tg.svg") %>
             </div>
           </div>
           <span class="service_name">
             Our service name 2020
           </span>
         </footer>

        </body>

    </html>
