    <%= stylesheet_link_tag 'promo', media: 'all', 'data-turbolinks-track': 'reload' %>

    <!DOCTYPE html>
    <html>
      <head>
        <title>Kinotusovka</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>
        <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
        <% if notice %>
          <%= notice %>
        <% end %>
        <link href="//db.onlinewebfonts.com/c/88f10bf18a36407ef36bf30bc25a3618?family=Suisse+Intl" rel="stylesheet" type="text/css"/>
      </head>

      <body>
        <header>
          <div class="logo"><%= image_tag("logo.svg") %></div>
          <div class="burger"></div>
          <nav class="menu">
            <div class="header_actions">
              <%= link_to "о пpоекте", about_path %>
              <div class="">войти</div>
              <div class="separator_wrapper">
                 <div class="separator"></div>
              </div>
              <div class="">зарегаться</div>
              <button type="button" class="btn_primary" name="button">создать&nbsp;мероприятие
              </button>
            </div>
          </nav>
        </header>
           <section class="first_screen_promo">
            <div class="first_section_h1_rays">
                <%= image_tag("rays.svg") %>
                <h1>СТАНЬ ЧАСТЬЮ КИНО-СООБЩЕСТВА</h1>
                <button class="btn_primary mobile" type="button" name="button">
                  узнать про киночество
                  <%= image_tag("arrow_btn.svg") %>
                </button>
                <%= image_tag("rays.svg") %>
            </div>
            <button class="btn_primary" type="button" name="button">
              узнать про киночество
              <%= image_tag("arrow_btn.svg") %>
            </button>
           </section>

           <section class="do_not_miss_party">
             <h2>НЕ ПРОПУСТИ<br>ИНТЕРЕСНУЮ<br>ТУСОВКУ</h2>
                  <p class="do_not_miss_party_p">ищите интересные киножанры, присоединяйтесь к тусовкам и становитесь частью нового комьюнити!</p>
            <!-- <div class="subscribe_input">
                <span class="subscribe_lable">Подпишись, чтобы не пропустить релиз проекта</span>
                <%= render "subscribers/form" %>
                <%= yield %>
              </div> -->
              <div class="do_not_miss_party_images">
                <%= image_tag("events1.png") %>
                <%= image_tag("events2.png") %>
                <%= image_tag("events3.png") %>
                <%= image_tag("events4.png") %>
              </div>
           </section>

           <section class="create_event">
            <h2>СОЗДАЙ СВОЁ МЕРОПРИЯТИЕ</h2>
              <p class="">если вы — большая команда, или даже волк-одиночка, вы всегда можете стать демиургом в мире кино сходок!</p>
              <button type="button" name="button" class="btn_primary">
                     СОЗДАТЬ МЕРОПРИЯТИЕ
                    <%= image_tag("arrow_btn.svg") %>
              </button>
           </section>

           <section class="get_emotions">
                 <h2>ПОЛУЧИ ЭМОЦИИ В&nbsp;ПОДАРОК</h2>
                 <p>ЗАРЕГИСТРИРУЙСЯ СЕГОДНЯ, И ПОЛУЧИ В ПОДАРОК ЭКСКЛЮЗИВный мерч для киноведов и организаторов киночества!</p>
                 <%= image_tag("merch.png") %>
                 <p class="merch_description">лимитированное издание для начинающих киноведов от опытных киноведов</p>
           </section>

           <section class="jump_into_cinema">
             <h2>ПОЛУЧАЙ ЭКСКЛЮЗИВНЫЕ ВОЗМОЖНОСТИ</h2>
              <p>ОРГАНИЗАТОРЫ И УЧАСТНИКИ ПОЛУЧАЮТ ЭКСКЛЮЗИВНУЮ ВОЗМОЖНОСТЬ ПЕРВЫМИ УЗНАВАТЬ О ВЫСТУПЛЕНИЯХ
              И ЛЕКЦИЯХ РАЗНЫХ ДЕЯТЕЛЕЙ КИНОИНДУСТРИИ
              </p>
              <div class="rays_svg">
                <%= image_tag("rays.svg") %>
              </div>
              <%= image_tag("event_huge.png") %>
           </section>

           <section class="opportunities">
            <div class="opportunities_text">
              <h2>ПОГРУЗИСЬ <br> В МИР КИНО</h2>
              <p>Мы коллабимся с такими классными организациями: опиа, циферблат, кинофонд, мосфильм, мир кино, иное кино, искусство кино и не только!
              </p>
              <div class="friends_logos">
                <%= image_tag("opia_logo.png") %>
                <%= image_tag("vinz_logo.png") %>
                <%= image_tag("inoe_logo.png") %>
                <%= image_tag("cifer_logo.png") %>
                <%= image_tag("moskino_logo.png") %>
                <%= image_tag("art_kino.png") %>
              </div>
            </div>
              <div class="events">
                <div class="event1">
                  <%= image_tag("event1.png") %>
                  <span class="event_date">10 декабря</span>
                  <span class="event_description"><div class="speaker_name">Илья найшуллер</div> расскажет о брутализме<br>в сфере клипмейкинга</span>
                </div>
                <div class="event2">
                  <%= image_tag("event3.png") %>
                  <span class="event_date">10 декабря</span>
                  <span class="event_description"><div class="speaker_name">Мцитуридзе Екатерина </div>о грузинском нуаре</span>
                </div>
                <div class="event3">
                  <%= image_tag("event2.png") %>
                  <span class="event_date">10 декабря</span>
                  <span class="event_description"><div class="speaker_name">Олеся Меньшова</div> о своей роли в<br>«Станционном смотрителе»</span>
                </div>
              </div>
              <button type="button" name="button" class="btn_primary">
                     СОЗДАТЬ МЕРОПРИЯТИЕ
                    <%= image_tag("arrow_btn.svg") %>
              </button>
           </section>

           <section class="join_us">
             <div class="h2_and_rays">
               <%= image_tag("rays.svg") %>
               <h2>СТАНЬ ЧАСТЬЮ КИНОЧЕСТВА</h2>
               <button class="btn_primary mobile" type="button" name="button">
                 узнать про киночество
                 <%= image_tag("arrow_btn.svg") %>
               </button>
               <%= image_tag("rays.svg") %>
             </div>
             <button type="button" name="button" class="btn_primary">
                    посетить киночество
                   <%= image_tag("arrow_btn.svg") %>
             </button>
           </section>

         <footer>

           <div class="footer_top">
               <div class="logo">
                 <%= image_tag("logo.svg") %>
               </div>
             <div class="social">
               <%= image_tag("vk.svg") %>
               <%= image_tag("inst.svg") %>
               <%= image_tag("fb.svg") %>
               <%= image_tag("tg.svg") %>
             </div>
             <span class="service_name">
               Our service name 2020
             </span>
          </div>

          <div class="footer_contacts">
            <div class="footer_text">
              <span>Чтобы связаться с нами, звоните</span>
              <a class="footer_link" href="tel:+9 (915) 355 355">+9&nbsp;(915)&nbsp;355&nbsp;355</a>
            </div>

            <div class="footer_text">
              <span>Пишите</span>
              <span class="email">hello@kinochestvo.com</span>
            </div>

            <div class="footer_text">
              <span>И узнайте подробнее</span>
              <a href="#">о нашем проекте</a>
            </div>

            <span class="service_name">
              Our service name 2020
            </span>
          </div>
         </footer>

        </body>
    </html>
