<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Email</th>
      <th>Username</th>
      <% if user_signed_in? && current_user.admin == true %>
        <td>Admin</td>
      <% end %>
      <% if user_signed_in? && current_user.admin == true %>
        <td>Moderator</td>
      <% end %>
      <% if user_signed_in? && current_user.admin == true %>
        <td>Developer</td>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= link_to user.email, user %></td>
        <td><%= user.username %></td>
        <% if user_signed_in? && current_user.admin == true %>
          <td><%= user.admin %></td>
        <% end %>
        <% if user_signed_in? && current_user.admin == true %>
          <td><%= user.ismoderator %></td>
        <% end %>
        <% if user_signed_in? && current_user.admin == true %>
          <td><%= user.isdeveloper %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
