    <%= stylesheet_link_tag 'about', media: 'all', 'data-turbolinks-track': 'reload' %>


 <!DOCTYPE html>
 <html>
   <head>
     <title>Kinotusovka</title>
     <%= csrf_meta_tags %>
     <%= csp_meta_tag %>

     <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
     <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

     <% if notice %>
       <%= notice %>
     <% end %>
   </head>

   <body>

     <header>
       <div class="logo">Киночество</div>
       <div class="header_actions">
         <%= link_to "о  поекте", about_path %>
         <div class="btn_primary">создать&nbsp;мероприятие</div>
         <div class="">войти</div>
         <div class="serarator_wrapper">
            <div class="separator"></div>
         </div>
         <div class="">зарегистрироваться</div>
       </div>
     </header>


      <div class="sections_wrapper">

        <section class="first_screen_about">
          <div class="first_section_headings">
            <h2>о проекте</h2>
          </div>
          <div class="arrow_picture_first">
            <%= image_tag("arrow.svg") %>
          </div>
          <p>Наш сервис создан для тех любителей и истинных фанатов кино. Благодаря сервису люди смогут запросто собраться в большую группу, найти единомышленников и помочь друг другу рассказать другим о мире кино.<br><br>Сервис станет удобным инструментом как для опытных организаторов кинотусовок, так и для тех кто только собирается собрать свою первую сходку по любимому жанру.</p>
        </section>

        <section class="second_screen_about">
          <div class="second_section_headings">
            <h2>проблема</h2>
            <h2>-----></h2>
            <h2>решение</h2>
          </div>
          <div class="second_description">
            <p class>Людям, которые любят кино и хотят находить больше единомышленников приходится производить поиски компании в беседах и группах соцсетей, что не всегда бывает удобным. Так же не у всех получается в принципе найти то или иное комьюнити, чтобы больше узнать о любимом жанре.<br><br>Благодаря сервису образуется абсолютно новое кино-комьюнити, которое поможет все большему количеству людей находить компанию
            и узнавать что-то новое о любимых жанрах.</p>
          </div>

        </section>

        <section class="third_screen_about">
          <div class="third_section_headings">
            <h2>для кого мы стараемся->?</h2>
            <div class="third_description">
              <p>В ЦА входят как простые зрители, так и те, кто давно занимается организацией киновечеринок. Сервис доступен к пользованию кем угодно.</p>
            </div>

          </div>

        </section>


      <footer>
        <div class="contact_us">
          <span>По любым вопросам</span>
          <div class="social">
            <%= image_tag("black_vk.svg") %>
            <%= image_tag("black_inst.svg") %>
            <%= image_tag("black_facebook.svg") %>
            <%= image_tag("black_telegram.svg") %>
          </div>
        </div>
        <span class="service_name">
          Our service name 2020
        </span>
      </footer>

     </body>

 </html>
