    <%= stylesheet_link_tag 'about', media: 'all', 'data-turbolinks-track': 'reload' %>


 <!DOCTYPE html>
 <html>
   <head>
     <title>Kinotusovka</title>
     <%= csrf_meta_tags %>
     <%= csp_meta_tag %>

     <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
     <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

     <% if notice %>
       <%= notice %>
     <% end %>
   </head>

   <body>

     <header>
       <div class="logo">Киночество</div>
       <div class="header_actions">
         <%= link_to "о  поекте", about_path %>
         <div class="btn_primary">создать&nbsp;мероприятие</div>
         <div class="">войти</div>
         <div class="serarator_wrapper">
            <div class="separator"></div>
         </div>
         <div class="">зарегистрироваться</div>
       </div>
     </header>


      <div class="sections_wrapper">

        <section class="first_screen_promo">
          <div class="first_section_headings">
            <h2>о проекте</h2>
          </div>
          <div class="arrow_picture">
            <%= image_tag("arrow.svg") %>
          </div>
          <p>Наш сервис создан для тех любителей и истинных фанатов кино. Благодаря сервису люди смогут запросто собраться в большую группу, найти единомышленников и помочь друг другу рассказать другим о мире кино.<br>Сервис станет удобным инструментом как для опытных организаторов кинотусовок, так и для тех кто только собирается собрать свою первую сходку по любимому жанру.</p>
        </section>


      <footer>
        <div class="contact_us">
          <span>По любым вопросам</span>
          <div class="social">
            <%= image_tag("black_vk.svg") %>
            <%= image_tag("black_inst.svg") %>
            <%= image_tag("black_facebook.svg") %>
            <%= image_tag("black_telegram.svg") %>
          </div>
        </div>
        <span class="service_name">
          Our service name 2020
        </span>
      </footer>

     </body>

 </html>
