<!DOCTYPE html>
<html>
  <head>
    <title>Kinotusovka</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
    <div class="logo">lagos</div>
    <div class="header_actions">
      <%= link_to "о  поекте", about_path %>
      <div class="btn_primary">создать&nbsp;мероприятие</div>
      <div class="">войти</div>
      <div class="serarator_wrapper">
         <div class="separator"></div>
      </div>
      <div class="">зарегистрироваться</div>
    </div>
  </header>

  <body>
     <div class="sections_wrapper">

       <section class="first_screen_promo">
         <div class="first_section_headings">
           <h2>кино мероприятия</h2>
           <span>
             Найди мероприятие<br>или создай своё
           </span>
         </div>
         <div class="ivent_card">
           <%= image_tag("blue_velvet.jpg") %>
           <h3>Киновечер Линча<br>с дискуссией</h3>
           <div class="date_and_time">
             <span class="date">Сб, 10 сен.</span>
             <span class="time">19:00 - 23:00</span>
           </div>
           <span class="place">Сухаревская, 21/3</span>
           <span class="organizator">Киноклуб ANTE</span>
         </div>

         <div class="ivent_card_second">
           <%= image_tag("blue_velvet.jpg") %>
           <h3>Киновечер Линча<br>с дискуссией</h3>
           <div class="date_and_time">
             <span class="date">Сб, 10 сен.</span>
             <span class="time">19:00 - 23:00</span>
           </div>
           <span class="place">Сухаревская, 21/3</span>
           <span class="organizator">Киноклуб ANTE</span>
         </div>

         <div class="subscribe_input">
           <%= yield %>
         </div>

       </section>

       <section class="find_event">
         <div class="">
           <h2>не пропусти интересную тусовку</h2>
         </div>
         <div class="">

         </div>
       </section>

       <section class="create_event">
         <div class="">
           <h2></h2>
         </div>
         <div class="">

         </div>
       </section>

     </div>
  </body>
</html>

<% if notice %>
  <%= notice %>
<% end %>
